@use "/styles/abstracts/variables" as *;
@use "/styles/abstracts/mixins" as *;
@use "/styles/abstracts/functions" as *;

.list {
  display: flex;
  gap: rem(16px);

  @include breakpoint($md) {
    display: grid;
    gap: rem(32px);
    justify-items: start;
  }
}
