/*PRIMARY COLORS*/
$clr-marine-blue: (213 96% 18%);
$clr-light-marine-blue: (213 72% 31%);
$clr-purplish-blue: (243 100% 62%);
$clr-light-purplish-blue: (243 100% 77%);
$clr-pastel-blue: (228 100% 84%);
$clr-light-blue: (206 94% 87%);
$clr-strawberry-red: (354 84% 57%);

/*NEUTRAL COLORS*/
$clr-cool-gray: (231 11% 63%);
$clr-light-gray: (229 24% 87%);
$clr-magnolia: (217 100% 97%);
$clr-alabaster: (231 100% 99%);

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

$ff-ubuntu: "Ubuntu", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$root-fs: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
