@use "/styles/abstracts/variables" as *;
@use "/styles/abstracts/mixins" as *;
@use "/styles/abstracts/functions" as *;

.label {
  color: hsl($clr-marine-blue);
  margin-bottom: rem(3px);
  display: block;
  @include font-wsl($fw-regular, rem(12px), rem(14px));

  @include breakpoint($md) {
    margin-bottom: rem(8px);
    @include font-wsl($fw-regular, rem(14px), rem(16px));
  }
}

.label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: hsl($clr-strawberry-red);
  @include font-wsl($fw-bold, rem(14px), rem(16px));
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid hsl($clr-light-gray);
  padding: rem(11px) rem(16px);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  @include font-wsl($fw-medium, rem(15px), rem(17px));

  @include breakpoint($md) {
    padding: rem(10.5px) rem(16px);
    border-radius: 8px;
    @include font-wsl($fw-medium, rem(16px), rem(25px));
  }

  &::placeholder {
    color: hsl($clr-cool-gray);
  }

  &:hover,
  &:focus {
    @include transition(border-color);
    border-color: hsl($clr-purplish-blue);
  }
}

.input--error {
  border-color: hsl($clr-strawberry-red);
}
