.checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 0;
}

.original {
  display: none;
}

.custom {
  border: 1px solid #d6d9e6;
  border-radius: 4px;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.checkbox:hover .custom {
  transition: border-color 0.4s ease;
  border-color: hsl(243, 100%, 62%, 0.8);
}

.original:checked ~ .custom {
  background: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%, 0.8);
}

.original:checked ~ .custom::after {
  display: block;
}

.custom::after {
  content: "";
  display: none;
  margin-bottom: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
